.container {
  width: 1000px;
  height: 100px;
  border: 5px solid rebeccapurple;
  margin-left: 250px;
}
.list {
  display: flex;
  list-style: none;
}
.item {
  color: blue;
  margin: 0.25rem;
  display: block;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: tomato;
}

.icon {
  /* --icon-color: currentColor; */
}
.icon:hover {
  color: aqua;
  background-color: black;
}
